@font-face {
  font-family: 'TT Lakes';
  src: url(./fonts/TTLakes-Regular.woff2) format("woff2"), url(./fonts/TTLakes-Regular.woff) format("woff");
  font-weight: 400;
  font-style: normal; }

@font-face {
  font-family: 'TT Lakes';
  src: url(./fonts/TTLakes-Bold.woff2) format("woff2"), url(./fonts/TTLakes-Regular.woff) format("woff");
  font-weight: 700;
  font-style: bold; }

html {
  box-sizing: border-box; }

*, *::after, *::before {
  box-sizing: inherit; }

body {
  font-family: 'TT Lakes';
  margin: 0;
  padding: 0;
  min-width: 320px; }

@font-face {
  font-family: 'TT Lakes';
  src: url(./fonts/TTLakes-Regular.woff2) format("woff2"), url(./fonts/TTLakes-Regular.woff) format("woff");
  font-weight: 400;
  font-style: normal; }

@font-face {
  font-family: 'TT Lakes';
  src: url(./fonts/TTLakes-Bold.woff2) format("woff2"), url(./fonts/TTLakes-Regular.woff) format("woff");
  font-weight: 700;
  font-style: bold; }

html {
  box-sizing: border-box; }

*, *::after, *::before {
  box-sizing: inherit; }

body {
  font-family: 'TT Lakes';
  margin: 0;
  padding: 0;
  min-width: 320px; }

.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  transform: translateX(-100%);
  opacity: 0;
  pointer-events: auto;
  z-index: 99;
  transition: transform 0.3s ease;
  box-shadow: 16px 0 52px rgba(14, 24, 80, 0.2); }
  .sidebar__header {
    padding-top: 42px;
    padding-right: 30px;
    padding-left: 8px;
    height: 70px;
    display: flex;
    align-items: center; }
  .sidebar__logo-img {
    width: 97px;
    height: 51px;
    margin-left: 17px; }
  .sidebar__list {
    display: flex;
    gap: 24px;
    flex-direction: column;
    list-style-type: none;
    margin: 46px 0 0;
    padding: 0; }
  .sidebar__item {
    display: flex;
    align-items: center;
    height: 32px;
    position: relative; }
    .sidebar__item::before {
      content: '';
      width: 4px;
      height: 32px;
      background-image: url(./static/highlight.svg);
      background-size: cover;
      background-repeat: no-repeat;
      opacity: 0; }
    .sidebar__item--active {
      display: flex;
      align-items: center;
      height: 32px;
      position: relative; }
    .sidebar__item--active::before {
      content: '';
      width: 4px;
      height: 32px;
      background-image: url(./static/highlight.svg);
      background-size: cover;
      background-repeat: no-repeat; }
  .sidebar__link {
    text-decoration: none;
    color: black;
    font-size: 16px;
    white-space: nowrap;
    margin-left: 20px;
    font-family: "TT Lakes"; }
    .sidebar__link--active {
      text-decoration: none;
      color: #7E7E82;
      margin-left: 20px; }
  .sidebar__footer {
    margin-top: 30px;
    margin-left: 24px; }
  .sidebar__icons {
    display: flex;
    gap: 16px; }
  .sidebar__contacts {
    display: flex;
    flex-direction: column;
    margin-top: 16px; }
  .sidebar__email, .sidebar__phone {
    text-decoration: none;
    color: black;
    font-family: "TT Lakes"; }
  .sidebar__email {
    font-size: 16px; }
  .sidebar__phone {
    font-size: 24px;
    font-weight: 700;
    margin-top: 12px; }
  .sidebar__lang {
    margin-top: 40px;
    padding: 0; }

.btn,
.icon {
  width: 40px;
  height: 40px;
  border-radius: 20px;
  background-color: #FF3E79;
  border: none;
  position: relative;
  text-align: center;
  cursor: pointer;
  transition: opacity 0.3s ease; }
  .btn:hover,
  .icon:hover {
    opacity: 0.6; }

.btn--close {
  background-image: url(./static/close.svg);
  background-size: auto;
  background-repeat: no-repeat;
  background-position: center; }

.btn--search {
  background-image: url(./static/search.svg);
  background-size: auto;
  background-repeat: no-repeat;
  background-position: center;
  margin-left: auto; }

.btn--profile {
  background-image: url(./static/profile.svg);
  background-size: auto;
  background-repeat: no-repeat;
  background-position: center; }

.icon--call {
  background-image: url(./static/call.svg);
  background-size: auto;
  background-repeat: no-repeat;
  background-position: center; }

.icon--chat {
  background-image: url(./static/chat.svg);
  background-size: auto;
  background-repeat: no-repeat;
  background-position: center; }

.sidebar__lang-btn {
  all: unset;
  font-size: 16px;
  margin-right: 7px;
  font-family: "TT Lakes";
  cursor: pointer; }
  .sidebar__lang-btn:hover {
    transform: scale(1.2); }

.lang {
  cursor: pointer; }
  .lang__btn-ru, .lang__btn-en, .lang__btn-ch {
    display: none; }
  .lang--active {
    color: #7E7E82; }

.sidebar--active {
  transform: translateX(0);
  background-color: white;
  width: 100%;
  height: 100%;
  opacity: 1;
  z-index: 99;
  pointer-events: auto; }

.blur--active {
  position: fixed;
  inset: 0;
  background-color: rgba(255, 255, 255, 0.4);
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(20px);
  pointer-events: auto;
  z-index: 98; }

.menu {
  padding: 24px 16px;
  min-height: 88px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #D9FFF5; }
  .menu__border, .menu__border-pad {
    height: 32px;
    border-left: 2px solid #EAEAEA; }
  .menu__btn,
  .menu .title__btn, .menu__icon {
    width: 40px;
    height: 40px;
    border-radius: 20px;
    background-color: #FF3E79;
    border: none;
    position: relative;
    text-align: center; }
  .menu__icon-img-call, .menu__icon-img-chat {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }
  .menu__logo-img {
    width: 96.55px;
    height: 50.81px; }
  .menu .burger {
    background-image: url(./static/burger.svg);
    background-size: auto;
    background-repeat: no-repeat;
    background-position: center; }
  .menu .repair {
    background-image: url(./static/repair.svg);
    background-size: auto;
    background-repeat: no-repeat;
    background-position: center; }
  .menu .checkstatus {
    background-image: url(./static/check.svg);
    background-size: auto;
    background-repeat: no-repeat;
    background-position: center; }
  .menu .profile {
    background-image: url(./static/profile.svg);
    background-size: auto;
    background-repeat: no-repeat;
    background-position: center; }
  .menu__border-pad, .menu__icon {
    display: none; }

main {
  background-color: #F8F8F8;
  padding-bottom: 40px; }

.title {
  padding-top: 24px;
  display: flex;
  justify-content: flex-start;
  align-items: center; }
  .title__border {
    height: 40px;
    width: 4px;
    border-left: 4px solid #41F6D7;
    border-radius: 0 4px 4px 0; }
  .title__text {
    margin: 0;
    font-size: 28px;
    padding-left: 12px; }
  .title__label {
    display: none; }

.navigation__list {
  display: grid;
  grid-template-columns: repeat(6, auto);
  gap: 0;
  align-items: center;
  padding-left: 16px;
  margin: 24px 0 0 0;
  list-style-type: none;
  overflow: auto; }

.navigation__item {
  display: flex;
  align-items: center;
  font-size: 16px;
  height: 40px; }
  .navigation__item:first-child {
    background-color: white;
    border: 2px solid #B8FFEC;
    border-radius: 6px; }

.navigation__link {
  text-decoration: none;
  color: #7E7E82;
  font-size: 16px;
  padding: 8px 9.3px 8px 16.54px;
  white-space: nowrap; }

.info__block {
  width: 288px;
  height: 90px;
  font-size: 14px;
  margin: 24px 16px 0;
  margin-bottom: 16px;
  overflow: hidden;
  line-height: 18px;
  letter-spacing: 0.2px; }
  .info__block--active {
    height: auto; }

.info__text {
  margin: 0; }

.info__next {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 16px;
  font-size: 16px;
  height: 24px;
  margin: 0; }
  .info__next-btn--read {
    background: none;
    border: none;
    font-family: "TT Lakes";
    font-size: 16px;
    height: 24px;
    margin: 0; }
    .info__next-btn--read::before {
      content: '';
      display: inline-block;
      background-image: url(./static/next.svg);
      background-color: #F8F8F8;
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      width: 8px;
      height: 11px;
      margin-left: 0;
      margin-right: 10px;
      cursor: pointer; }
  .info__next-btn--hide::before {
    content: '';
    display: inline-block;
    background-image: url(./static/next.svg);
    background-color: #F8F8F8;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 8px;
    height: 11px;
    margin-left: 0;
    margin-right: 10px;
    transform: rotate(180deg); }

.info__pic-img {
  width: 320px;
  height: 176px;
  border-radius: 0; }

@media (min-width: 768px) {
  .menu {
    padding: 18.59px 24px; }
    .menu__border-pad, .menu__icon {
      display: block; }
    .menu > :nth-child(4) {
      margin-left: auto; }
    .menu > :nth-child(1),
    .menu > :nth-child(2),
    .menu > :nth-child(6),
    .menu > :nth-child(7) {
      margin-right: 20px; }
    .menu > :nth-child(4),
    .menu > :nth-child(5),
    .menu > :nth-child(8) {
      margin-right: 16px; }
  .title__text {
    padding-left: 24px; }
  .info {
    margin: 32px 24px 20px 24px;
    width: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "info__block info__pic"; }
    .info__block {
      grid-area: info__block;
      width: 312px;
      height: 160px;
      margin: 0;
      padding: 0; }
      .info__block--active {
        height: 290px; }
    .info__next {
      grid-area: info__block;
      align-self: end; }
      .info__next-btn {
        margin-left: 10px; }
    .info__pic {
      width: 532px;
      margin-left: auto; }
    .info__pic-img {
      display: block;
      grid-area: info__pic;
      margin-left: auto;
      width: 360px;
      height: 208px;
      border-radius: 6px 0 0 6px; }
    .info__text--hidden {
      display: block;
      margin-top: 30px; }
  .sidebar__footer {
    margin-top: 268px; }
  .sidebar--active {
    transform: translateX(0);
    background-color: white;
    width: 360px;
    height: 100%;
    opacity: 1;
    z-index: 100;
    pointer-events: auto; } }

@media (min-width: 1366px) {
  .layout {
    display: flex; }
  .menu {
    display: none; }
  .sidebar {
    position: static;
    width: 320px;
    transform: none;
    opacity: 1;
    z-index: initial;
    pointer-events: auto;
    transition: none; }
    .sidebar .btn--close {
      display: none; }
  .navigation__list {
    overflow: visible;
    grid-template-columns: repeat(5, auto);
    padding: 0 25px 0 32px; }
  .info {
    margin: 0 24px 40px 34px;
    width: auto;
    height: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "info__block info__pic"; }
    .info__block {
      width: 490px;
      height: 175px; }
      .info__block--active {
        height: 320px; }
    .info__text {
      width: 490px;
      height: 160px;
      margin-top: 16.22px; }
    .info__next {
      grid-area: info__block;
      align-self: end;
      margin-bottom: 110px; }
      .info__next-btn {
        margin-left: 5px; }
    .info__pic-img {
      width: 531px;
      height: 307px;
      margin-top: 7px;
      margin-left: auto;
      margin-right: 29px; } }

@font-face {
  font-family: 'TT Lakes';
  src: url(./fonts/TTLakes-Regular.woff2) format("woff2"), url(./fonts/TTLakes-Regular.woff) format("woff");
  font-weight: 400;
  font-style: normal; }

@font-face {
  font-family: 'TT Lakes';
  src: url(./fonts/TTLakes-Bold.woff2) format("woff2"), url(./fonts/TTLakes-Regular.woff) format("woff");
  font-weight: 700;
  font-style: bold; }

html {
  box-sizing: border-box; }

*, *::after, *::before {
  box-sizing: inherit; }

body {
  font-family: 'TT Lakes';
  margin: 0;
  padding: 0;
  min-width: 320px; }

.brands__title {
  width: 100%;
  height: 80px;
  border-top: solid 1px #D9FFF5;
  background-image: linear-gradient(to right, #F8F8F8, white); }
  .brands__title--name {
    color: #7E7E82;
    width: 288px;
    height: 48px;
    margin: 16px;
    font-size: 16px;
    font-weight: 400; }

.brands__slider--mob {
  display: flex;
  background-color: #F8F8F8;
  height: 130px;
  margin: auto;
  padding-top: 16px !important; }

.brands__list--mob {
  display: flex;
  list-style-type: none;
  padding: 0 24px 0 16px;
  margin: 0; }

.brands__container {
  display: flex !important;
  height: 72px !important;
  width: 240px !important;
  border: 1px solid #EAEAEA;
  border-radius: 6px;
  background-color: white;
  justify-content: space-between !important;
  align-items: center !important; }

.brands__img {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid #FF3E79;
  border-radius: 50%;
  height: 40px;
  width: 40px;
  margin-right: 16px; }

.brands__arrow {
  display: inline-block;
  border-right: 2px solid #FF3E79;
  border-top: 2px solid #FF3E79;
  transform: rotate(45deg);
  height: 8px;
  width: 8px;
  margin-right: 2px; }

.brands__link {
  display: inline-block;
  height: auto;
  margin: 0 0 0 16px;
  line-height: 0;
  padding: 0; }

.brands .swiper-pagination-bullet {
  background-color: #DDDDDD !important; }

.brands .swiper-pagination-bullet-active {
  background-color: #B5B6BC !important; }

.brands .next, .brands__slider {
  display: none; }

@media (min-width: 768px) {
  .brands__slider--mob {
    display: none !important; }
  .brands__slider {
    display: block;
    padding-top: 16px;
    background-color: #F8F8F8; }
  .brands__list {
    display: grid;
    list-style-type: none;
    grid-template-columns: repeat(3, auto);
    justify-content: space-between;
    height: 165px;
    margin: 0;
    padding: 0 24px 0 16px;
    row-gap: 12px;
    -moz-column-gap: 16px;
         column-gap: 16px;
    overflow: hidden; }
  .brands__item {
    display: flex;
    height: 72px;
    width: 240px;
    border: 1px solid #EAEAEA;
    border-radius: 6px;
    background-color: white;
    justify-content: space-between;
    align-items: center; }
  .brands__list--show {
    display: grid;
    grid-template-columns: repeat(3, auto);
    justify-content: space-evenly;
    height: auto;
    margin: 0;
    row-gap: 12px; }
  .brands .next {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: #F8F8F8;
    padding-bottom: 20px;
    padding-top: 20px;
    cursor: pointer;
    padding-left: 16px; }
  .brands .button {
    background: none;
    border: none;
    font-family: "TT Lakes";
    font-size: 16px; }
    .brands .button--show::before {
      content: '';
      display: inline-block;
      background-image: url(./static/next.svg);
      background-color: #F8F8F8;
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      width: 8px;
      height: 11px;
      margin-left: 0;
      margin-right: 10px;
      cursor: pointer; }
    .brands .button--hide::before {
      content: '';
      display: inline-block;
      background-image: url(./static/next.svg);
      background-color: #F8F8F8;
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      width: 8px;
      height: 11px;
      margin-left: 0;
      margin-right: 10px;
      transform: rotate(180deg); } }

@media (min-width: 1366px) {
  .brands__title {
    padding-left: 18px; }
  .brands__list {
    display: grid;
    grid-template-columns: repeat(4, auto);
    justify-content: space-evenly;
    margin: 0; }
  .brands__list--show {
    display: grid;
    grid-template-columns: repeat(4, auto);
    justify-content: space-evenly;
    height: auto;
    margin: 0; }
  .brands .next {
    padding-left: 30px; } }

@font-face {
  font-family: 'TT Lakes';
  src: url(./fonts/TTLakes-Regular.woff2) format("woff2"), url(./fonts/TTLakes-Regular.woff) format("woff");
  font-weight: 400;
  font-style: normal; }

@font-face {
  font-family: 'TT Lakes';
  src: url(./fonts/TTLakes-Bold.woff2) format("woff2"), url(./fonts/TTLakes-Regular.woff) format("woff");
  font-weight: 700;
  font-style: bold; }

html {
  box-sizing: border-box; }

*, *::after, *::before {
  box-sizing: inherit; }

body {
  font-family: 'TT Lakes';
  margin: 0;
  padding: 0;
  min-width: 320px; }

.types__title {
  width: 100%;
  height: 80px;
  border-top: solid 1px #D9FFF5;
  background-image: linear-gradient(to right, #F8F8F8, white); }
  .types__title--name {
    color: #7E7E82;
    width: 288px;
    height: 48px;
    margin: 16px;
    font-size: 16px;
    font-weight: 400; }

.types__slider--mob {
  display: flex;
  background-color: #F8F8F8;
  height: 220px;
  margin: auto;
  padding-top: 16px !important; }

.types__list--mob {
  display: flex;
  list-style-type: none;
  padding: 0 24px 0 16px;
  margin: 0; }

.types__container {
  display: grid !important;
  height: 160px !important;
  width: 240px !important;
  border: 1px solid #EAEAEA;
  border-radius: 6px;
  background-color: white;
  grid-template-columns: 1fr 60px;
  grid-template-areas: 'text pic'; }

.types__img {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid #FF3E79;
  border-radius: 50%;
  height: 40px;
  width: 40px;
  margin: 0;
  grid-area: 'pic';
  align-self: end;
  margin-bottom: 16px; }

.types__arrow {
  display: inline-block;
  border-right: 2px solid #FF3E79;
  border-top: 2px solid #FF3E79;
  transform: rotate(45deg);
  height: 8px;
  width: 8px;
  margin-right: 2px; }

.types__link {
  margin: 16px 0 0 16px;
  padding: 0;
  text-decoration: none;
  color: black;
  grid-area: 'text';
  align-self: start; }

.types .swiper-pagination-bullet {
  background-color: #DDDDDD !important; }

.types .swiper-pagination-bullet-active {
  background-color: #B5B6BC !important; }

.types__next, .types__slider {
  display: none; }

@media (min-width: 768px) {
  .types__slider--mob {
    display: none !important; }
  .types__slider {
    display: block;
    padding-top: 16px;
    background-color: #F8F8F8; }
  .types__list {
    display: grid;
    list-style-type: none;
    grid-template-columns: repeat(3, auto);
    justify-content: space-between;
    height: 165px;
    margin: 0;
    padding: 0 24px 0 16px;
    row-gap: 12px;
    -moz-column-gap: 16px;
         column-gap: 16px;
    overflow: hidden; }
  .types__item {
    display: grid;
    height: 160px;
    width: 240px;
    border: 1px solid #EAEAEA;
    border-radius: 6px;
    background-color: white;
    grid-template-columns: 1fr 60px;
    grid-template-areas: 'text pic'; }
  .types__link {
    grid-area: 'text';
    align-self: start; }
  .types__img {
    grid-area: 'pic';
    align-self: end; }
  .types__list--show {
    display: grid;
    grid-template-columns: repeat(3, auto);
    justify-content: space-between;
    height: auto;
    margin: 0;
    row-gap: 12px; }
  .types__next {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: #F8F8F8;
    padding-bottom: 20px;
    padding-top: 20px;
    cursor: pointer;
    padding-left: 16px; }
  .types .button-types {
    background: none;
    border: none;
    font-family: "TT Lakes";
    font-size: 16px; }
    .types .button-types--show::before {
      content: '';
      display: inline-block;
      background-image: url(./static/next.svg);
      background-color: #F8F8F8;
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      width: 8px;
      height: 11px;
      margin-left: 0;
      margin-right: 10px;
      cursor: pointer; }
    .types .button-types--hide::before {
      content: '';
      display: inline-block;
      background-image: url(./static/next.svg);
      background-color: #F8F8F8;
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      width: 8px;
      height: 11px;
      margin-left: 0;
      margin-right: 10px;
      transform: rotate(180deg); } }

@media (min-width: 1366px) {
  .types__title {
    padding-left: 18px; }
  .types__list {
    display: grid;
    grid-template-columns: repeat(4, auto);
    justify-content: space-between;
    margin: 0; }
  .types__list--show {
    display: grid;
    grid-template-columns: repeat(4, auto);
    justify-content: space-between;
    height: auto;
    margin: 0; }
  .types .next {
    padding-left: 30px; } }

@font-face {
  font-family: 'TT Lakes';
  src: url(./fonts/TTLakes-Regular.woff2) format("woff2"), url(./fonts/TTLakes-Regular.woff) format("woff");
  font-weight: 400;
  font-style: normal; }

@font-face {
  font-family: 'TT Lakes';
  src: url(./fonts/TTLakes-Bold.woff2) format("woff2"), url(./fonts/TTLakes-Regular.woff) format("woff");
  font-weight: 700;
  font-style: bold; }

html {
  box-sizing: border-box; }

*, *::after, *::before {
  box-sizing: inherit; }

body {
  font-family: 'TT Lakes';
  margin: 0;
  padding: 0;
  min-width: 320px; }

p {
  margin: 0; }

.prices__title {
  width: 100%;
  height: 80px;
  border-top: solid 1px #D9FFF5;
  background-image: linear-gradient(to right, #F8F8F8, white); }
  .prices__title--name {
    color: #7E7E82;
    width: 288px;
    height: 48px;
    margin: 16px;
    font-size: 16px;
    font-weight: 400; }

.prices__slider--mob {
  display: flex;
  background-color: #F8F8F8;
  height: 260px;
  margin: auto;
  padding-top: 16px !important; }

.prices__list--mob {
  display: flex;
  list-style-type: none;
  padding: 0 24px 0 16px;
  margin: 0; }

.prices__container {
  display: grid !important;
  height: 200px !important;
  width: 260px !important;
  font-size: 14px;
  line-height: 18px;
  border-radius: 6px;
  background-color: white;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto auto;
  grid-template-areas: 'services' 'price' 'due'; }

.prices__category {
  display: block;
  grid-area: services;
  padding: 16px 16px 0 16px; }

.prices__info {
  display: block;
  grid-area: price;
  padding: 10px 16px 0 16px; }

.prices__due {
  display: flex;
  grid-area: due;
  justify-content: space-between;
  align-items: center;
  padding: 10px 16px 16px 16px; }

.prices__btn {
  border: none;
  border-radius: 16px;
  height: 32px;
  width: 119px;
  padding: 0;
  background-color: #FF3E79;
  color: white;
  font-family: "TT Lakes";
  font-weight: 700 !important;
  font-size: 12px;
  cursor: pointer; }

.prices__arrow {
  display: inline-block;
  border-right: 2.8px solid white;
  border-top: 2.8px solid white;
  transform: rotate(45deg);
  height: 4px;
  width: 4px;
  margin-left: 10px; }

.prices__name {
  color: #7E7E82; }

.prices .swiper-pagination-bullet {
  background-color: #DDDDDD !important; }

.prices .swiper-pagination-bullet-active {
  background-color: #B5B6BC !important; }

.prices__spoiler--mob {
  margin-left: 16px; }

.prices__text {
  display: block;
  font-size: 14px; }

.prices__offer {
  display: block;
  margin-top: 16px;
  width: 200px;
  font-weight: 500;
  cursor: pointer; }

.prices__offer::after {
  content: '';
  display: inline-block;
  border-right: 2px solid #FF3E79;
  border-top: 2px solid #FF3E79;
  transform: rotate(45deg);
  height: 8px;
  width: 8px;
  margin-left: 6px; }

.prices__table {
  display: none; }

@media (min-width: 768px) {
  .prices__slider--mob {
    display: none !important; }
  .prices__spoiler--mob {
    display: none; }
  .prices__table {
    display: block;
    padding: 0 24px;
    width: 100%; }
  .prices__spoiler {
    width: 421px; }
  .table {
    display: grid;
    width: auto;
    height: 420px;
    margin-top: 20px;
    grid-template-rows: 64px 1fr 1px 1fr 1px 1fr 1px 1fr 1px 1fr; }
    .table__title {
      display: flex;
      justify-content: space-between;
      align-items: center;
      -moz-column-gap: auto;
           column-gap: auto;
      margin-left: 24px;
      margin-right: 24px;
      font-size: 14px;
      color: #7E7E82; }
      .table__title > :first-child {
        width: 348px; }
      .table__title > :nth-child(2) {
        width: 74px; }
      .table__title > :nth-child(3) {
        width: 81px; }
      .table__title > :nth-child(4) {
        width: 120px; }
    .table__content {
      background-color: white;
      border-radius: 6px;
      height: auto; }
    .table__row {
      display: flex;
      justify-content: space-between;
      height: 64px;
      align-items: center;
      margin-left: 24px;
      margin-right: 24px;
      font-size: 14px; }
      .table__row > :first-child {
        width: 348px; }
      .table__row > :nth-child(2) {
        width: 74px; }
      .table__row > :nth-child(3) {
        width: 81px; }
      .table__row > :nth-child(4) {
        width: 120px; }
    .table__border-bottom {
      height: 1px;
      padding-left: 20px;
      background-color: #EAEAEA;
      margin-left: 24px;
      margin-right: 24px; }
    .table__btn {
      border: none;
      border-radius: 16px;
      height: 32px;
      width: 119px;
      padding: 0;
      background-color: #FF3E79;
      color: white;
      font-family: "TT Lakes";
      font-weight: 700 !important;
      font-size: 12px;
      cursor: pointer; }
    .table__arrow {
      display: inline-block;
      border-right: 2.8px solid white;
      border-top: 2.8px solid white;
      transform: rotate(45deg);
      height: 7px;
      width: 7px;
      margin-left: 15px; } }

@font-face {
  font-family: 'TT Lakes';
  src: url(./fonts/TTLakes-Regular.woff2) format("woff2"), url(./fonts/TTLakes-Regular.woff) format("woff");
  font-weight: 400;
  font-style: normal; }

@font-face {
  font-family: 'TT Lakes';
  src: url(./fonts/TTLakes-Bold.woff2) format("woff2"), url(./fonts/TTLakes-Regular.woff) format("woff");
  font-weight: 700;
  font-style: bold; }

html {
  box-sizing: border-box; }

*, *::after, *::before {
  box-sizing: inherit; }

body {
  font-family: 'TT Lakes';
  margin: 0;
  padding: 0;
  min-width: 320px; }

.footer {
  width: 100%;
  height: 180px;
  border-top: solid 1px #D9FFF5;
  margin-top: 40px;
  padding-top: 16px;
  display: flex;
  flex-direction: column;
  row-gap: 16px;
  font-size: 14px;
  color: #7E7E82;
  align-items: center; }
  .footer__content {
    text-align: center; }
  @media (min-width: 768px) {
    .footer {
      flex-direction: row;
      padding-left: 24px;
      padding-right: 24px;
      padding-top: 32px;
      justify-content: space-between;
      align-items: baseline; }
      .footer > :nth-child(3) {
        width: 213px;
        text-align: end; }
      .footer > :nth-child(1) {
        text-align: start; } }
  @media (min-width: 1366px) {
    .footer > :nth-child(3) {
      width: 330px; } }

@font-face {
  font-family: 'TT Lakes';
  src: url(./fonts/TTLakes-Regular.woff2) format("woff2"), url(./fonts/TTLakes-Regular.woff) format("woff");
  font-weight: 400;
  font-style: normal; }

@font-face {
  font-family: 'TT Lakes';
  src: url(./fonts/TTLakes-Bold.woff2) format("woff2"), url(./fonts/TTLakes-Regular.woff) format("woff");
  font-weight: 700;
  font-style: bold; }

html {
  box-sizing: border-box; }

*, *::after, *::before {
  box-sizing: inherit; }

body {
  font-family: 'TT Lakes';
  margin: 0;
  padding: 0;
  min-width: 320px; }

@font-face {
  font-family: 'TT Lakes';
  src: url(./fonts/TTLakes-Regular.woff2) format("woff2"), url(./fonts/TTLakes-Regular.woff) format("woff");
  font-weight: 400;
  font-style: normal; }

@font-face {
  font-family: 'TT Lakes';
  src: url(./fonts/TTLakes-Bold.woff2) format("woff2"), url(./fonts/TTLakes-Regular.woff) format("woff");
  font-weight: 700;
  font-style: bold; }

html {
  box-sizing: border-box; }

*, *::after, *::before {
  box-sizing: inherit; }

body {
  font-family: 'TT Lakes';
  margin: 0;
  padding: 0;
  min-width: 320px; }

.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  transform: translateX(-100%);
  opacity: 0;
  pointer-events: auto;
  z-index: 99;
  transition: transform 0.3s ease;
  box-shadow: 16px 0 52px rgba(14, 24, 80, 0.2); }
  .sidebar__header {
    padding-top: 42px;
    padding-right: 30px;
    padding-left: 8px;
    height: 70px;
    display: flex;
    align-items: center; }
  .sidebar__logo-img {
    width: 97px;
    height: 51px;
    margin-left: 17px; }
  .sidebar__list {
    display: flex;
    gap: 24px;
    flex-direction: column;
    list-style-type: none;
    margin: 46px 0 0;
    padding: 0; }
  .sidebar__item {
    display: flex;
    align-items: center;
    height: 32px;
    position: relative; }
    .sidebar__item::before {
      content: '';
      width: 4px;
      height: 32px;
      background-image: url(./static/highlight.svg);
      background-size: cover;
      background-repeat: no-repeat;
      opacity: 0; }
    .sidebar__item--active {
      display: flex;
      align-items: center;
      height: 32px;
      position: relative; }
    .sidebar__item--active::before {
      content: '';
      width: 4px;
      height: 32px;
      background-image: url(./static/highlight.svg);
      background-size: cover;
      background-repeat: no-repeat; }
  .sidebar__link {
    text-decoration: none;
    color: black;
    font-size: 16px;
    white-space: nowrap;
    margin-left: 20px;
    font-family: "TT Lakes"; }
    .sidebar__link--active {
      text-decoration: none;
      color: #7E7E82;
      margin-left: 20px; }
  .sidebar__footer {
    margin-top: 30px;
    margin-left: 24px; }
  .sidebar__icons {
    display: flex;
    gap: 16px; }
  .sidebar__contacts {
    display: flex;
    flex-direction: column;
    margin-top: 16px; }
  .sidebar__email, .sidebar__phone {
    text-decoration: none;
    color: black;
    font-family: "TT Lakes"; }
  .sidebar__email {
    font-size: 16px; }
  .sidebar__phone {
    font-size: 24px;
    font-weight: 700;
    margin-top: 12px; }
  .sidebar__lang {
    margin-top: 40px;
    padding: 0; }

.btn,
.icon {
  width: 40px;
  height: 40px;
  border-radius: 20px;
  background-color: #FF3E79;
  border: none;
  position: relative;
  text-align: center;
  cursor: pointer;
  transition: opacity 0.3s ease; }
  .btn:hover,
  .icon:hover {
    opacity: 0.6; }

.btn--close {
  background-image: url(./static/close.svg);
  background-size: auto;
  background-repeat: no-repeat;
  background-position: center; }

.btn--search {
  background-image: url(./static/search.svg);
  background-size: auto;
  background-repeat: no-repeat;
  background-position: center;
  margin-left: auto; }

.btn--profile {
  background-image: url(./static/profile.svg);
  background-size: auto;
  background-repeat: no-repeat;
  background-position: center; }

.icon--call {
  background-image: url(./static/call.svg);
  background-size: auto;
  background-repeat: no-repeat;
  background-position: center; }

.icon--chat {
  background-image: url(./static/chat.svg);
  background-size: auto;
  background-repeat: no-repeat;
  background-position: center; }

.sidebar__lang-btn {
  all: unset;
  font-size: 16px;
  margin-right: 7px;
  font-family: "TT Lakes";
  cursor: pointer; }
  .sidebar__lang-btn:hover {
    transform: scale(1.2); }

.lang {
  cursor: pointer; }
  .lang__btn-ru, .lang__btn-en, .lang__btn-ch {
    display: none; }
  .lang--active {
    color: #7E7E82; }

.sidebar--active {
  transform: translateX(0);
  background-color: white;
  width: 100%;
  height: 100%;
  opacity: 1;
  z-index: 99;
  pointer-events: auto; }

.blur--active {
  position: fixed;
  inset: 0;
  background-color: rgba(255, 255, 255, 0.4);
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(20px);
  pointer-events: auto;
  z-index: 98; }

.menu {
  padding: 24px 16px;
  min-height: 88px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #D9FFF5; }
  .menu__border, .menu__border-pad {
    height: 32px;
    border-left: 2px solid #EAEAEA; }
  .menu__btn,
  .menu .title__btn, .menu__icon {
    width: 40px;
    height: 40px;
    border-radius: 20px;
    background-color: #FF3E79;
    border: none;
    position: relative;
    text-align: center; }
  .menu__icon-img-call, .menu__icon-img-chat {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }
  .menu__logo-img {
    width: 96.55px;
    height: 50.81px; }
  .menu .burger {
    background-image: url(./static/burger.svg);
    background-size: auto;
    background-repeat: no-repeat;
    background-position: center; }
  .menu .repair {
    background-image: url(./static/repair.svg);
    background-size: auto;
    background-repeat: no-repeat;
    background-position: center; }
  .menu .checkstatus {
    background-image: url(./static/check.svg);
    background-size: auto;
    background-repeat: no-repeat;
    background-position: center; }
  .menu .profile {
    background-image: url(./static/profile.svg);
    background-size: auto;
    background-repeat: no-repeat;
    background-position: center; }
  .menu__border-pad, .menu__icon {
    display: none; }

main {
  background-color: #F8F8F8;
  padding-bottom: 40px; }

.title {
  padding-top: 24px;
  display: flex;
  justify-content: flex-start;
  align-items: center; }
  .title__border {
    height: 40px;
    width: 4px;
    border-left: 4px solid #41F6D7;
    border-radius: 0 4px 4px 0; }
  .title__text {
    margin: 0;
    font-size: 28px;
    padding-left: 12px; }
  .title__label {
    display: none; }

.navigation__list {
  display: grid;
  grid-template-columns: repeat(6, auto);
  gap: 0;
  align-items: center;
  padding-left: 16px;
  margin: 24px 0 0 0;
  list-style-type: none;
  overflow: auto; }

.navigation__item {
  display: flex;
  align-items: center;
  font-size: 16px;
  height: 40px; }
  .navigation__item:first-child {
    background-color: white;
    border: 2px solid #B8FFEC;
    border-radius: 6px; }

.navigation__link {
  text-decoration: none;
  color: #7E7E82;
  font-size: 16px;
  padding: 8px 9.3px 8px 16.54px;
  white-space: nowrap; }

.info__block {
  width: 288px;
  height: 90px;
  font-size: 14px;
  margin: 24px 16px 0;
  margin-bottom: 16px;
  overflow: hidden;
  line-height: 18px;
  letter-spacing: 0.2px; }
  .info__block--active {
    height: auto; }

.info__text {
  margin: 0; }

.info__next {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 16px;
  font-size: 16px;
  height: 24px;
  margin: 0; }
  .info__next-btn--read {
    background: none;
    border: none;
    font-family: "TT Lakes";
    font-size: 16px;
    height: 24px;
    margin: 0; }
    .info__next-btn--read::before {
      content: '';
      display: inline-block;
      background-image: url(./static/next.svg);
      background-color: #F8F8F8;
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      width: 8px;
      height: 11px;
      margin-left: 0;
      margin-right: 10px;
      cursor: pointer; }
  .info__next-btn--hide::before {
    content: '';
    display: inline-block;
    background-image: url(./static/next.svg);
    background-color: #F8F8F8;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 8px;
    height: 11px;
    margin-left: 0;
    margin-right: 10px;
    transform: rotate(180deg); }

.info__pic-img {
  width: 320px;
  height: 176px;
  border-radius: 0; }

@media (min-width: 768px) {
  .menu {
    padding: 18.59px 24px; }
    .menu__border-pad, .menu__icon {
      display: block; }
    .menu > :nth-child(4) {
      margin-left: auto; }
    .menu > :nth-child(1),
    .menu > :nth-child(2),
    .menu > :nth-child(6),
    .menu > :nth-child(7) {
      margin-right: 20px; }
    .menu > :nth-child(4),
    .menu > :nth-child(5),
    .menu > :nth-child(8) {
      margin-right: 16px; }
  .title__text {
    padding-left: 24px; }
  .info {
    margin: 32px 24px 20px 24px;
    width: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "info__block info__pic"; }
    .info__block {
      grid-area: info__block;
      width: 312px;
      height: 160px;
      margin: 0;
      padding: 0; }
      .info__block--active {
        height: 290px; }
    .info__next {
      grid-area: info__block;
      align-self: end; }
      .info__next-btn {
        margin-left: 10px; }
    .info__pic {
      width: 532px;
      margin-left: auto; }
    .info__pic-img {
      display: block;
      grid-area: info__pic;
      margin-left: auto;
      width: 360px;
      height: 208px;
      border-radius: 6px 0 0 6px; }
    .info__text--hidden {
      display: block;
      margin-top: 30px; }
  .sidebar__footer {
    margin-top: 268px; }
  .sidebar--active {
    transform: translateX(0);
    background-color: white;
    width: 360px;
    height: 100%;
    opacity: 1;
    z-index: 100;
    pointer-events: auto; } }

@media (min-width: 1366px) {
  .layout {
    display: flex; }
  .menu {
    display: none; }
  .sidebar {
    position: static;
    width: 320px;
    transform: none;
    opacity: 1;
    z-index: initial;
    pointer-events: auto;
    transition: none; }
    .sidebar .btn--close {
      display: none; }
  .navigation__list {
    overflow: visible;
    grid-template-columns: repeat(5, auto);
    padding: 0 25px 0 32px; }
  .info {
    margin: 0 24px 40px 34px;
    width: auto;
    height: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "info__block info__pic"; }
    .info__block {
      width: 490px;
      height: 175px; }
      .info__block--active {
        height: 320px; }
    .info__text {
      width: 490px;
      height: 160px;
      margin-top: 16.22px; }
    .info__next {
      grid-area: info__block;
      align-self: end;
      margin-bottom: 110px; }
      .info__next-btn {
        margin-left: 5px; }
    .info__pic-img {
      width: 531px;
      height: 307px;
      margin-top: 7px;
      margin-left: auto;
      margin-right: 29px; } }

.feedback {
  min-width: 320px;
  max-width: 360px;
  display: flex;
  flex-direction: column;
  padding-top: 24px;
  position: fixed;
  top: 0;
  right: 0;
  transform: translateX(100%);
  opacity: 0;
  pointer-events: none;
  z-index: 100;
  transition: transform 0.3s ease;
  box-shadow: 16px 0 52px rgba(14, 24, 80, 0.2); }
  .feedback__button {
    margin-left: 16px; }
  .feedback__close {
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
    width: 40px;
    height: 40px;
    border-radius: 20px;
    background-color: #FF3E79;
    border: none;
    position: relative;
    text-align: center;
    cursor: pointer;
    transition: opacity 0.3s ease;
    background-image: url(./static/close.svg);
    background-size: auto;
    background-repeat: no-repeat;
    background-position: center; }
    .feedback__close:hover {
      opacity: 0.6; }
  .feedback__title {
    display: flex;
    font-size: 24px;
    align-items: center;
    height: 40px;
    position: relative;
    -moz-column-gap: 12px;
         column-gap: 12px;
    margin: 32px 0 0 0; }
    .feedback__title::before {
      content: '';
      width: 4px;
      height: 40px;
      background-image: url(./static/highlight.svg);
      background-size: cover;
      background-repeat: no-repeat; }
  .feedback__form {
    display: flex;
    flex-direction: column;
    row-gap: 16px; }
    .feedback__form > :nth-child(2),
    .feedback__form > :nth-child(3),
    .feedback__form > :nth-child(4) {
      height: 48px;
      width: auto;
      margin-left: 16px;
      margin-right: 16px;
      border: 1px solid #EAEAEA;
      border-radius: 8px;
      font-family: "TT Lakes";
      color: #B5B6BC;
      font-size: 16px;
      padding-left: 16px; }
    .feedback__form > :nth-child(5) {
      height: 118px;
      width: auto;
      margin-left: 16px;
      margin-right: 16px;
      border: 1px solid #EAEAEA;
      border-radius: 8px;
      font-family: "TT Lakes";
      color: #B5B6BC;
      font-size: 16px;
      padding-left: 16px;
      padding-top: 12px; }
  .feedback__spoiler {
    display: inline-block;
    margin-left: 16px;
    color: #7E7E82;
    font-size: 14px; }
  .feedback__highlight {
    color: #FF3E79; }
  .feedback__sbm {
    border: none;
    height: 32px;
    width: 136px;
    align-self: end;
    margin-right: 16px;
    background-image: url(./static/submit.svg);
    background-color: white;
    padding: 0; }
  .feedback--active {
    transform: translateX(0);
    background-color: white;
    width: 100%;
    height: 100%;
    opacity: 1;
    z-index: 100;
    pointer-events: auto; }
  @media (min-width: 1366px) {
    .feedback {
      width: 360px; }
      .feedback__button {
        transform: translate(-90px); }
      .feedback__form {
        transform: translateY(-76px); } }

@font-face {
  font-family: 'TT Lakes';
  src: url(./fonts/TTLakes-Regular.woff2) format("woff2"), url(./fonts/TTLakes-Regular.woff) format("woff");
  font-weight: 400;
  font-style: normal; }

@font-face {
  font-family: 'TT Lakes';
  src: url(./fonts/TTLakes-Bold.woff2) format("woff2"), url(./fonts/TTLakes-Regular.woff) format("woff");
  font-weight: 700;
  font-style: bold; }

html {
  box-sizing: border-box; }

*, *::after, *::before {
  box-sizing: inherit; }

body {
  font-family: 'TT Lakes';
  margin: 0;
  padding: 0;
  min-width: 320px; }

@font-face {
  font-family: 'TT Lakes';
  src: url(./fonts/TTLakes-Regular.woff2) format("woff2"), url(./fonts/TTLakes-Regular.woff) format("woff");
  font-weight: 400;
  font-style: normal; }

@font-face {
  font-family: 'TT Lakes';
  src: url(./fonts/TTLakes-Bold.woff2) format("woff2"), url(./fonts/TTLakes-Regular.woff) format("woff");
  font-weight: 700;
  font-style: bold; }

html {
  box-sizing: border-box; }

*, *::after, *::before {
  box-sizing: inherit; }

body {
  font-family: 'TT Lakes';
  margin: 0;
  padding: 0;
  min-width: 320px; }

.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  transform: translateX(-100%);
  opacity: 0;
  pointer-events: auto;
  z-index: 99;
  transition: transform 0.3s ease;
  box-shadow: 16px 0 52px rgba(14, 24, 80, 0.2); }
  .sidebar__header {
    padding-top: 42px;
    padding-right: 30px;
    padding-left: 8px;
    height: 70px;
    display: flex;
    align-items: center; }
  .sidebar__logo-img {
    width: 97px;
    height: 51px;
    margin-left: 17px; }
  .sidebar__list {
    display: flex;
    gap: 24px;
    flex-direction: column;
    list-style-type: none;
    margin: 46px 0 0;
    padding: 0; }
  .sidebar__item {
    display: flex;
    align-items: center;
    height: 32px;
    position: relative; }
    .sidebar__item::before {
      content: '';
      width: 4px;
      height: 32px;
      background-image: url(./static/highlight.svg);
      background-size: cover;
      background-repeat: no-repeat;
      opacity: 0; }
    .sidebar__item--active {
      display: flex;
      align-items: center;
      height: 32px;
      position: relative; }
    .sidebar__item--active::before {
      content: '';
      width: 4px;
      height: 32px;
      background-image: url(./static/highlight.svg);
      background-size: cover;
      background-repeat: no-repeat; }
  .sidebar__link {
    text-decoration: none;
    color: black;
    font-size: 16px;
    white-space: nowrap;
    margin-left: 20px;
    font-family: "TT Lakes"; }
    .sidebar__link--active {
      text-decoration: none;
      color: #7E7E82;
      margin-left: 20px; }
  .sidebar__footer {
    margin-top: 30px;
    margin-left: 24px; }
  .sidebar__icons {
    display: flex;
    gap: 16px; }
  .sidebar__contacts {
    display: flex;
    flex-direction: column;
    margin-top: 16px; }
  .sidebar__email, .sidebar__phone {
    text-decoration: none;
    color: black;
    font-family: "TT Lakes"; }
  .sidebar__email {
    font-size: 16px; }
  .sidebar__phone {
    font-size: 24px;
    font-weight: 700;
    margin-top: 12px; }
  .sidebar__lang {
    margin-top: 40px;
    padding: 0; }

.btn,
.icon {
  width: 40px;
  height: 40px;
  border-radius: 20px;
  background-color: #FF3E79;
  border: none;
  position: relative;
  text-align: center;
  cursor: pointer;
  transition: opacity 0.3s ease; }
  .btn:hover,
  .icon:hover {
    opacity: 0.6; }

.btn--close {
  background-image: url(./static/close.svg);
  background-size: auto;
  background-repeat: no-repeat;
  background-position: center; }

.btn--search {
  background-image: url(./static/search.svg);
  background-size: auto;
  background-repeat: no-repeat;
  background-position: center;
  margin-left: auto; }

.btn--profile {
  background-image: url(./static/profile.svg);
  background-size: auto;
  background-repeat: no-repeat;
  background-position: center; }

.icon--call {
  background-image: url(./static/call.svg);
  background-size: auto;
  background-repeat: no-repeat;
  background-position: center; }

.icon--chat {
  background-image: url(./static/chat.svg);
  background-size: auto;
  background-repeat: no-repeat;
  background-position: center; }

.sidebar__lang-btn {
  all: unset;
  font-size: 16px;
  margin-right: 7px;
  font-family: "TT Lakes";
  cursor: pointer; }
  .sidebar__lang-btn:hover {
    transform: scale(1.2); }

.lang {
  cursor: pointer; }
  .lang__btn-ru, .lang__btn-en, .lang__btn-ch {
    display: none; }
  .lang--active {
    color: #7E7E82; }

.sidebar--active {
  transform: translateX(0);
  background-color: white;
  width: 100%;
  height: 100%;
  opacity: 1;
  z-index: 99;
  pointer-events: auto; }

.blur--active {
  position: fixed;
  inset: 0;
  background-color: rgba(255, 255, 255, 0.4);
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(20px);
  pointer-events: auto;
  z-index: 98; }

.menu {
  padding: 24px 16px;
  min-height: 88px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #D9FFF5; }
  .menu__border, .menu__border-pad {
    height: 32px;
    border-left: 2px solid #EAEAEA; }
  .menu__btn,
  .menu .title__btn, .menu__icon {
    width: 40px;
    height: 40px;
    border-radius: 20px;
    background-color: #FF3E79;
    border: none;
    position: relative;
    text-align: center; }
  .menu__icon-img-call, .menu__icon-img-chat {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }
  .menu__logo-img {
    width: 96.55px;
    height: 50.81px; }
  .menu .burger {
    background-image: url(./static/burger.svg);
    background-size: auto;
    background-repeat: no-repeat;
    background-position: center; }
  .menu .repair {
    background-image: url(./static/repair.svg);
    background-size: auto;
    background-repeat: no-repeat;
    background-position: center; }
  .menu .checkstatus {
    background-image: url(./static/check.svg);
    background-size: auto;
    background-repeat: no-repeat;
    background-position: center; }
  .menu .profile {
    background-image: url(./static/profile.svg);
    background-size: auto;
    background-repeat: no-repeat;
    background-position: center; }
  .menu__border-pad, .menu__icon {
    display: none; }

main {
  background-color: #F8F8F8;
  padding-bottom: 40px; }

.title {
  padding-top: 24px;
  display: flex;
  justify-content: flex-start;
  align-items: center; }
  .title__border {
    height: 40px;
    width: 4px;
    border-left: 4px solid #41F6D7;
    border-radius: 0 4px 4px 0; }
  .title__text {
    margin: 0;
    font-size: 28px;
    padding-left: 12px; }
  .title__label {
    display: none; }

.navigation__list {
  display: grid;
  grid-template-columns: repeat(6, auto);
  gap: 0;
  align-items: center;
  padding-left: 16px;
  margin: 24px 0 0 0;
  list-style-type: none;
  overflow: auto; }

.navigation__item {
  display: flex;
  align-items: center;
  font-size: 16px;
  height: 40px; }
  .navigation__item:first-child {
    background-color: white;
    border: 2px solid #B8FFEC;
    border-radius: 6px; }

.navigation__link {
  text-decoration: none;
  color: #7E7E82;
  font-size: 16px;
  padding: 8px 9.3px 8px 16.54px;
  white-space: nowrap; }

.info__block {
  width: 288px;
  height: 90px;
  font-size: 14px;
  margin: 24px 16px 0;
  margin-bottom: 16px;
  overflow: hidden;
  line-height: 18px;
  letter-spacing: 0.2px; }
  .info__block--active {
    height: auto; }

.info__text {
  margin: 0; }

.info__next {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 16px;
  font-size: 16px;
  height: 24px;
  margin: 0; }
  .info__next-btn--read {
    background: none;
    border: none;
    font-family: "TT Lakes";
    font-size: 16px;
    height: 24px;
    margin: 0; }
    .info__next-btn--read::before {
      content: '';
      display: inline-block;
      background-image: url(./static/next.svg);
      background-color: #F8F8F8;
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      width: 8px;
      height: 11px;
      margin-left: 0;
      margin-right: 10px;
      cursor: pointer; }
  .info__next-btn--hide::before {
    content: '';
    display: inline-block;
    background-image: url(./static/next.svg);
    background-color: #F8F8F8;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 8px;
    height: 11px;
    margin-left: 0;
    margin-right: 10px;
    transform: rotate(180deg); }

.info__pic-img {
  width: 320px;
  height: 176px;
  border-radius: 0; }

@media (min-width: 768px) {
  .menu {
    padding: 18.59px 24px; }
    .menu__border-pad, .menu__icon {
      display: block; }
    .menu > :nth-child(4) {
      margin-left: auto; }
    .menu > :nth-child(1),
    .menu > :nth-child(2),
    .menu > :nth-child(6),
    .menu > :nth-child(7) {
      margin-right: 20px; }
    .menu > :nth-child(4),
    .menu > :nth-child(5),
    .menu > :nth-child(8) {
      margin-right: 16px; }
  .title__text {
    padding-left: 24px; }
  .info {
    margin: 32px 24px 20px 24px;
    width: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "info__block info__pic"; }
    .info__block {
      grid-area: info__block;
      width: 312px;
      height: 160px;
      margin: 0;
      padding: 0; }
      .info__block--active {
        height: 290px; }
    .info__next {
      grid-area: info__block;
      align-self: end; }
      .info__next-btn {
        margin-left: 10px; }
    .info__pic {
      width: 532px;
      margin-left: auto; }
    .info__pic-img {
      display: block;
      grid-area: info__pic;
      margin-left: auto;
      width: 360px;
      height: 208px;
      border-radius: 6px 0 0 6px; }
    .info__text--hidden {
      display: block;
      margin-top: 30px; }
  .sidebar__footer {
    margin-top: 268px; }
  .sidebar--active {
    transform: translateX(0);
    background-color: white;
    width: 360px;
    height: 100%;
    opacity: 1;
    z-index: 100;
    pointer-events: auto; } }

@media (min-width: 1366px) {
  .layout {
    display: flex; }
  .menu {
    display: none; }
  .sidebar {
    position: static;
    width: 320px;
    transform: none;
    opacity: 1;
    z-index: initial;
    pointer-events: auto;
    transition: none; }
    .sidebar .btn--close {
      display: none; }
  .navigation__list {
    overflow: visible;
    grid-template-columns: repeat(5, auto);
    padding: 0 25px 0 32px; }
  .info {
    margin: 0 24px 40px 34px;
    width: auto;
    height: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "info__block info__pic"; }
    .info__block {
      width: 490px;
      height: 175px; }
      .info__block--active {
        height: 320px; }
    .info__text {
      width: 490px;
      height: 160px;
      margin-top: 16.22px; }
    .info__next {
      grid-area: info__block;
      align-self: end;
      margin-bottom: 110px; }
      .info__next-btn {
        margin-left: 5px; }
    .info__pic-img {
      width: 531px;
      height: 307px;
      margin-top: 7px;
      margin-left: auto;
      margin-right: 29px; } }

.phone {
  min-width: 320px;
  max-width: 360px;
  display: flex;
  flex-direction: column;
  padding-top: 24px;
  position: fixed;
  top: 0;
  right: 0;
  transform: translateX(100%);
  opacity: 0;
  pointer-events: none;
  z-index: 100;
  transition: transform 0.3s ease;
  box-shadow: 16px 0 52px rgba(14, 24, 80, 0.2); }
  .phone__button {
    margin-left: 16px; }
  .phone__close {
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
    width: 40px;
    height: 40px;
    border-radius: 20px;
    background-color: #FF3E79;
    border: none;
    position: relative;
    text-align: center;
    cursor: pointer;
    transition: opacity 0.3s ease;
    background-image: url(./static/close.svg);
    background-size: auto;
    background-repeat: no-repeat;
    background-position: center; }
    .phone__close:hover {
      opacity: 0.6; }
  .phone__title {
    display: flex;
    font-size: 24px;
    align-items: center;
    height: 40px;
    position: relative;
    -moz-column-gap: 12px;
         column-gap: 12px;
    margin: 32px 0 0 0; }
    .phone__title::before {
      content: '';
      width: 4px;
      height: 40px;
      background-image: url(./static/highlight.svg);
      background-size: cover;
      background-repeat: no-repeat; }
  .phone__form {
    display: flex;
    flex-direction: column;
    row-gap: 16px; }
    .phone__form > :nth-child(2) {
      height: 48px;
      width: auto;
      margin-left: 16px;
      margin-right: 16px;
      border: 1px solid #EAEAEA;
      border-radius: 8px;
      font-family: "TT Lakes";
      color: #B5B6BC;
      font-size: 16px;
      padding-left: 16px; }
  .phone__spoiler {
    display: inline-block;
    margin-left: 16px;
    color: #7E7E82;
    font-size: 14px; }
  .phone__highlight {
    color: #FF3E79; }
  .phone__sbm {
    border: none;
    height: 32px;
    width: 136px;
    align-self: end;
    margin-right: 16px;
    background-image: url(./static/submit.svg);
    background-color: white;
    padding: 0; }
  .phone--active {
    transform: translateX(0);
    background-color: white;
    width: 100%;
    height: 100%;
    opacity: 1;
    z-index: 100;
    pointer-events: auto; }
  @media (min-width: 1366px) {
    .phone {
      width: 360px; }
      .phone__button {
        transform: translate(-90px); }
      .phone__form {
        transform: translateY(-76px); } }

body {
  font-family: 'TT Lakes';
  margin: 0;
  padding: 0;
  min-width: 320px; }

@media (min-width: 1366px) {
  body {
    display: flex;
    justify-content: center; } }


/*# sourceMappingURL=style.css.map*/