@import './variables';

p {
    margin: 0;
}
.prices {
    &__title {
      width: 100%;
      height: 80px;
      border-top: solid 1px $border-color;
      background-image: linear-gradient(to right, $main-color, white);
  
      &--name {
        color: $text-color;
        width: 288px;
        height: 48px;
        margin: 16px;
        font-size: 16px;
        font-weight: 400;
      }
    }
   
    &__slider--mob {
      display: flex;
      background-color: $main-color;
      height: 260px;
      margin: auto;
      padding-top: 16px !important;
    }

    &__list--mob {
      display: flex;
      list-style-type: none;
      padding: 0 24px 0 16px;
      margin: 0;
    }

    &__container {
      display: grid !important;
      height: 200px !important;
      width: 260px !important;
      font-size: 14px;
      line-height: 18px;
   
      border-radius: 6px;
      background-color: white;
      grid-template-columns: 1fr;
    //   grid-template-rows: 56px 74px 38px;
    grid-template-rows: auto auto auto;
      grid-template-areas: 
        'services'
        'price'
        'due';
    //   justify-content: space-between !important;
    //   align-items: center !important;
    }

    &__category {
        display: block;
        grid-area: services;
        padding: 16px 16px 0 16px;
    }

    &__info {
        display: block;
        grid-area: price;
        padding: 10px 16px 0 16px;
    }

    &__due {
        display: flex;
        grid-area: due;
        justify-content: space-between;
        align-items: center;
        padding: 10px 16px 16px 16px;
    }

    &__btn {
        border: none;
        border-radius: 16px;
        height: 32px;
        width: 119px;
        padding: 0;
        background-color: $btn-color;
        color: white;
        font-family: $font;
        font-weight: 700 !important;
        font-size: 12px;
        cursor: pointer;
    }

    &__arrow {
        display: inline-block;
        border-right: 2.8px solid white;
        border-top: 2.8px solid white;
        transform: rotate(45deg);
        height: 4px;
        width: 4px;
        margin-left: 10px;
    }

    &__name {
        color: $text-color;
    }

    .swiper-pagination-bullet {
        background-color: $pagination-bullet !important;
      }
    
    .swiper-pagination-bullet-active {
        background-color: $pagination-active !important;
      }

    &__spoiler--mob {
        margin-left: 16px
    }

    &__text {
        display: block;
        font-size: 14px;
    }

    &__offer {
        display: block;
        margin-top: 16px;
        width: 200px;
        font-weight: 500;
        cursor: pointer;
        
    }

    &__offer::after {
        content: '';
        display: inline-block;
        border-right: 2px solid $btn-color;
        border-top: 2px solid $btn-color;
        transform: rotate(45deg);
        height: 8px;
        width: 8px;
        margin-left: 6px;
    }

    &__table {
        display: none;
    }

}

@media (min-width: 768px) {

    .prices {
    &__slider--mob {
        display: none !important;
    }

    &__spoiler--mob {
        display: none;
    }

    &__table {
        display: block;
    }

    &__table {
        padding: 0 24px;
        width: 100%;
    }
}

.table {
    width: 100%;
    border-spacing: 0;
    margin-top: 16px;

    &__body {
        background-color: white;
    }

    &__body tr:first-child td:first-child {
        border-top-left-radius: 6px;
    }
    &__body tr:first-child td:last-child {
        border-top-right-radius: 6px;
      }
    &__body tr:last-child td:first-child {
        border-bottom-left-radius: 6px;
    }
    &__body tr:last-child td:last-child {
        border-bottom-right-radius: 6px;
      }

    &__header--row{
        height: 64px;
        color: $text-color;
    }

    &__row {
        position: relative;
        height: 64px;
    }

    &__row:not(:first-child)::after {
        content: '';
        position: absolute;
        left: 16px;
        right: 16px;
        height: 2px;
        background-color: $main-color;
    }


    &__content,
    &__header--row td:first-child {
        padding-left: 16px; 
    }


    // возможно через это можно прижать кнопку к правому краю, проверить
    // &__order {
    // display: flex;
    // justify-content: space-between;
    // align-items: center;
    // padding: 10px 16px 16px 16px;
    // }

    &__btn {
        border: none;
        border-radius: 16px;
        height: 32px;
        width: 119px;
        padding: 0;
        background-color: $btn-color;
        color: white;
        font-family: $font;
        font-weight: 700 !important;
        font-size: 12px;
        cursor: pointer;
    }

    &__arrow {
        display: inline-block;
        border-right: 2.8px solid white;
        border-top: 2.8px solid white;
        transform: rotate(45deg);
        height: 7px;
        width: 7px;
        margin-left: 15px;
    }

}
.prices__spoiler {
    width: 421px;
    margin-top: 20px;
}

}

