@import './variables';


@mixin button-icon($image) {
    background-image: url('../img/#{$image}');
    background-size: auto;
    background-repeat: no-repeat;
    background-position: center;
  }

  .sidebar {
    position: fixed;
    top: 0;
    left: 0;
    transform: translateX(-100%);
    opacity: 0;
    pointer-events: auto;
    z-index: 99;
    transition: transform 0.3s ease;
    box-shadow: 16px 0 52px rgba(14, 24, 80, 0.2);

      &__header {
        padding-top: 42px;
        padding-right: 30px;
        padding-left: 8px;
        height: 70px;
        display: flex;
        align-items: center;
      }
    
      &__logo-img {
        width: 97px;
        height: 51px;
        margin-left: 17px;
      }
    
      &__list {
        display: flex;
        gap: 24px;
        flex-direction: column;
        list-style-type: none;
        margin: 46px 0 0;
        padding: 0;
      }
    
      &__item {
        display: flex;
        align-items: center;
        height: 32px;
        position: relative;
    
        &::before {
          content: '';
          width: 4px;
          height: 32px;
          background-image: url('../img/highlight.svg');
          background-size: cover;
          background-repeat: no-repeat;
          opacity: 0;
        }

        &--active{
          display: flex;
          align-items: center;
          height: 32px;
          position: relative;
        }
    
        &--active::before {
          content: '';
          width: 4px;
          height: 32px;
          background-image: url('../img/highlight.svg');
          background-size: cover;
          background-repeat: no-repeat;
        }
      }
    
      &__link {
        text-decoration: none;
        color: black;
        font-size: 16px;
        white-space: nowrap;
        margin-left: 20px;
        font-family: $font;
    
        &--active {
          text-decoration: none;
          color: $text-color;
          margin-left: 20px;
        }
      }
    
      &__footer {
        margin-top: 268px;
        margin-left: 24px;
      }
    
      &__icons {
        display: flex;
        gap: 16px;
      }
    
      &__contacts {
        display: flex;
        flex-direction: column;
        margin-top: 16px;
      }
    
      &__email,
      &__phone {
        text-decoration: none;
        color: black;
        font-family: $font;
      }
    
      &__email {
        font-size: 16px;
      }
    
      &__phone {
        font-size: 24px;
        font-weight: 700;
        margin-top: 12px;
      }
    
      &__lang {
        margin-top: 40px;
        padding: 0;
      }
    }
    
    // Кнопки и иконки

    .btn,
    .icon {
      width: 40px;
      height: 40px;
      border-radius: 20px;
      background-color: $btn-color;
      border: none;
      position: relative;
      text-align: center;
      cursor: pointer;
      transition: opacity 0.3s ease;
    
      &:hover {
        opacity: 0.6;
      }
    }
    
    .btn {
      &--close {
        background-image: url('../img/close.svg');
        background-size: auto;
        background-repeat: no-repeat;
        background-position: center;
      }
    
      &--search {
        background-image: url('../img/search.svg');
        background-size: auto;
        background-repeat: no-repeat;
        background-position: center;
        margin-left: auto;
      }
    
      &--profile {
        background-image: url('../img/profile.svg');
        background-size: auto;
        background-repeat: no-repeat;
        background-position: center;
      }
    }

    .icon {
      &--call{
        background-image: url('../img/call.svg');
        background-size: auto;
        background-repeat: no-repeat;
        background-position: center;
      }
    
      &--chat{
        background-image: url('../img/chat.svg');
        background-size: auto;
        background-repeat: no-repeat;
        background-position: center;
      }

    }
    
    // Языковой переключатель
    .sidebar__lang-btn {
      all: unset;
      font-size: 16px;
      margin-right: 7px;
      font-family: $font;
      cursor: pointer;
    
      &:hover {
        transform: scale(1.2);
      }
    
    }
    
    .lang {
      &__btn-ru,
      &__btn-en,
      &__btn-ch {
        display: none;
      }

      &--active {
        color: $text-color;
      }
    
      cursor: pointer;

    }

  .sidebar--active {
    transform: translateX(0);
    background-color: white;
    width: 100%;
    height: 100%;
    opacity: 1;
    z-index: 99;
    pointer-events: auto;
  }

  .blur--active {
    position: fixed;
    inset: 0;
    background-color: rgba(255, 255, 255, 0.4);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(20px);
    pointer-events: auto;
    z-index: 98;
  }

  
  .menu {
    padding: 24px 16px;
    min-height: 88px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid $border-color;
  
    &__border,
    &__border-pad {
      height: 32px;
      border-left: 2px solid $border-light;
    }
  
    &__btn,
    .title__btn,
    &__icon {
      width: 40px;
      height: 40px;
      border-radius: 20px;
      background-color: $btn-color;
      border: none;
      position: relative;
      text-align: center;
    }
  
    &__icon-img-call,
    &__icon-img-chat {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  
    &__logo-img {
      width: 96.55px;
      height: 50.81px;
    }
  
    .burger {
      @include button-icon('burger.svg');
    }
  
    .repair {
      @include button-icon('repair.svg');
    }
  
    .checkstatus {
      @include button-icon('check.svg');
    }
  
    .profile {
      @include button-icon('profile.svg');
    }
  
    &__border-pad,
    &__icon {
      display: none;
    }
  }
  
  main {
    background-color: $main-color;
    padding-bottom: 40px;
  }
  
  .title {
    padding-top: 24px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
  
    &__border {
      height: 40px;
      width: 4px;
      border-left: 4px solid $highlight-color;
      border-radius: 0 4px 4px 0;
    }
  
    &__text {
      margin: 0;
      font-size: 28px;
      padding-left: 12px;
    }
  
    &__label {
      display: none;
    }
  }
  
  .navigation {
    &__list {
      display: grid;
      grid-template-columns: repeat(6, auto);
      gap: 0;
      align-items: center;
      padding-left: 16px;
      margin: 24px 0 0 0;
      list-style-type: none;
      overflow: auto;
    }
  
    &__item {
      display: flex;
      align-items: center;
      font-size: 16px;
      height: 40px;
  
      &:first-child {
        background-color: white;
        border: 2px solid $selected-color;
        border-radius: 6px;
      }
    }
  
    &__link {
      text-decoration: none;
      color: $text-color;
      font-size: 16px;
      padding: 8px 9.3px 8px 16.54px;
      white-space: nowrap;
    }
  }
  
  .info {
    &__block {
      width: 288px;
      height: 90px;
      font-size: 14px;
      margin: 24px 16px 0;
      margin-bottom: 16px;
      overflow: hidden;
      line-height: 18px;
      letter-spacing: 0.2px;
    }
  
    &__text {
      margin: 0;
  
      &--hidden {
        display: none;
      }
    }
  
    &__next {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      margin-bottom: 16px;
  
      &-text {
        font-size: 16px;
        height: 24px;
        margin: 0;
      }
  
      &-btn {
        @include button-icon('next.svg');
        background-color: $main-color;
        width: 7.41px;
        height: 10.29px;
        border: none;
        padding: 0;
        margin-left: 24.29px;
        margin-right: 16.29px;
      }
    }
  
    &__pic-img {
      width: 320px;
      height: 176px;
      border-radius: 0;
    }
  }
  

  @media (min-width: 768px) {
    .menu {
      padding: 18.59px 24px;
  
      &__border-pad,
      &__icon {
        display: block;
      }
  
      > :nth-child(4) {
        margin-left: auto;
      }
  
      > :nth-child(1),
      > :nth-child(2),
      > :nth-child(6),
      > :nth-child(7) {
        margin-right: 20px;
      }
  
      > :nth-child(4),
      > :nth-child(5),
      > :nth-child(8) {
        margin-right: 16px;
      }
    }
  
    .title {
      &__text {
        padding-left: 24px;
      }
    }
  
    .info {
      margin: 32px 24px 20px 24px;
      // width: 100%;
      width: auto;
      // height: 208px;
      height: auto;
      display: grid;
      grid-template-columns: 1fr 1fr;
      // gap: auto;
      grid-template-areas: "info__block info__pic";
  
      &__block {
        grid-area: info__block;
        width: 312px;
        height: 160px;
        margin: 0;
        padding: 0;
      }
  
      &__next {
        grid-area: info__block;
        align-self: end;
        margin-bottom: 20px;
  
        &-btn {
          margin-left: 10px;
        }
      }

      &__pic {
        width: 532px;
        margin-left: auto;
      }
  
      &__pic-img {
        display: block;
        grid-area: info__pic;
        margin-left: auto;
        width: 360px;
        height: 208px;
        border-radius: 6px 0 0 6px;
      }
  
      &__text--hidden {
        display: block;
        margin-top: 30px;
      }
    }

    .sidebar--active {
      transform: translateX(0);
      background-color: white;
      width: 360px;
      height: 100%;
      opacity: 1;
      z-index: 100;
      pointer-events: auto;
    }


  }
  
  @media (min-width: 1366px) {

    .layout {
      display: flex;
    }

    .menu {
      display: none;
    }

    .sidebar {
      position: static;
      width: 320px;
      transform: none;
      opacity: 1;
      z-index: initial;
      pointer-events: auto;
      transition: none;

      .btn {
          &--close {
            display: none;
          }
    }
  }

    .navigation {
      &__list {
        overflow: visible;
        grid-template-columns: repeat(5, auto);
        padding: 0 25px 0 32px;
      }
    }
  
    .info {
      margin: 0 24px 40px 34px;
      width: auto;
      height: auto;
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-areas: "info__block info__pic";
  
      &__block {
        width: 490px;
        height: 175px;
      }
  
      &__text {
        width: 490px;
        height: 160px;
        margin-top: 16.22px;
      }
  
      &__next {
        grid-area: info__block;
        align-self: end;
        margin-bottom: 110px;
  
        &-btn {
          margin-left: 5px;
        }
      }
  
      &__pic-img {
        width: 531px;
        height: 307px;
        margin-top: 7px;
        margin-left: auto;
        margin-right: 29px;
      }
    }
  }